h1{
   /* border:10px solid rgb(39, 1, 227); */
   padding: 100px;
   text-align: center;
   margin: 100px;
   /* background-color: dodgerblue; */
   background-image: linear-gradient(to right,dodgerblue,yellow);
   color:white;
   
}

img{
    border: 2px solid blue;
    padding: 30px;
    margin-left:200px;
}

body{
   
}