@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

table{
    width: 40rem;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
   
}

/* thead{
    background-color: #333;
    color:wheat;
} */

table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

/* tr:hover{
    background-color: rgb(159, 160, 142);
    color:white;
    font-weight: bold;
    font-style: italic;
} */