img{
    /* float: right; */
    /* display: block;
    margin: auto; */
    border-radius: 20px;
}

.img1{
    float: left;
}

.img2{
    float: right;
}


.img3{
  display: block;
  margin: auto;  
}